html
{
    padding: 0;
    margin: 0;
    border: 0;
}

body
{
    padding: 0;
    margin: 0;
    border: 0;
    max-width: 100%;
    overflow: hidden;
}

#img
{
    padding: 0;
    margin: 0;
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9001;
    height: 100%;
    height: 100vh;
    width: 100%;
}

#loading
{
    z-index: 9001;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
}

#loading *
{
    display: table;
    margin: 0 auto;
}

#inp_box
{
    padding: 1%;
    display: table;
    margin: 0 auto;
    background: white;
    max-width: 80%;
    border-left: 0.5vw solid grey;
    border-right: 0.5vw solid grey;
    border-bottom: 0.5vw solid grey;
}

#inp_box span, #inp_box #info
{
    display: table;
    margin: 0 auto;
}

#vid
{
    margin: 0;
    padding: 0;
    border: 0;
    height: 100vh;
    width: 100vw;
}