<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <link rel='stylesheet' href='/main.css'>
    <script src='https://www.youtube.com/iframe_api'></script>
    <script src='/stream.js'></script>
    <title>Watch</title>
</head>
<body>
    <div id='inp_box'>
        <div id='info'>Loading...</div>
    </div>
    <div id='vid' style='display: none'></div>
    <div id='img'></div>
</body>
</html>